.main {
  height: 100%;
  background-color: white;
  text-align: center;
  height: 100vh;
}
.this {
  margin-left: 10%;
  margin-right: 10%;
}
.cas {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}
.tagline {
  color: black;
  flex: 1 1;
  display: flex;
  align-items: center;
}
.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.img1 {
  margin: auto 10px;
}
.log {
  margin-top: 10%;
  height: 50%;
  width: 50%;
}
.intro {
  text-align: left;
  float: left;
}

li:hover {
  color: grey;
}
ul {
  margin: 0;
  padding: 25px;
  list-style: none;
}
.title {
  margin-left: 10%;
  float: left;
  font-weight: bold;
}

nav {
  background-color: white;
  align-items: center;
  min-height: 10px;
  border-bottom: 1px solid #f1eded;
}
.link {
  text-decoration: none;
  color: darkslategrey;
  font-weight: bold;
  font-size: 15px;
  padding: 5;
  margin:auto 2%;
}
.link li {
  display: inline;
  margin: 3%;
}

.hi-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.footer {
  align-items: center;
  text-align: center;
  background: #e8ebed;
  position: fixed;
  width: 100%;
  box-sizing:border-box;
  bottom: 0;
  padding: 10px;
}

.footer h3 {
  margin: 0;
}

.project_front {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.item {
  height: auto;
  width: 300px;
  margin-top: 3%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 6px;
}
.youd {
  height: 300px;
  width: 300px;
}
.local {
  height: 300px;
  width: 300px;
}
.calci {
  height: 300px;
  width: 300px;
}
a {
  color: black;
  text-decoration: none;
}

.light-mode {
  background-color: white;
}

.dark-mode {
  background-color: #212121;
}

.dark-mode .title {
  color: white;
}

.dark-mode h1 {
  color: #ffc107;
}

.dark-mode h2 {
  color: #84c9fb;
}

.dark-mode nav {
  border-bottom: none;
}
.dark-mode .intro p {
  color: white;
}

.links {
  display: block;
  padding: 0;
  margin: 0;
}

.dark-mode-img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.dark-mode .link {
  color: aquamarine;
}

.repo-link {
  color: #b5722f;
}

summary:focus {
  outline:none;
}

.dark-mode summary {
  color: #84c9fb;
}

.contact-link {
  color: #5ecef4;
}

.dark-mode .contact-link {
  color: #f6b553;
}

.active {
color:Red;
padding: 3px;
border:1px solid red;
border-radius: 3px;
}

.dark-mode .active {
  border: 1px solid #8BC34A;
}

.projectCard {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  border: 1px solid green;
  border-radius: 3px;
  text-align: left;
  margin: 4px 0;
}

.dark-mode .projectCard {
  color: aquamarine;
}

.projectList {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  text-align: left;
}
@media only screen and (max-width: 600px) {
  .main {
    height: auto;
  }
  .photo {
    display: block;
    flex: auto;
  }
  .photo img {
    min-width: 250px;
  }
  .title {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
    font-size: 21px;
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  .ul-list {
    padding: 10px 10px;
  }
  .intro p {
    text-align: center;
  }
  .footer {
    font-size: 14px;
    position: relative;
  }
  .this {
    margin-left: 4%;
    margin-right: 4%;
  }
}
