/**/
.skill_main {
  height: auto;
  margin-left: 10%;
}
.skill {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}
.skill_list {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  flex: 1;
}
.items {
  margin: 0 auto;
}
.dds {
  height: 100px;
  width: 100px;
}
.react {
  height: 100px;
  width: 100px;
}
.exp {
  width: 100px;
  height: 100px;
}
.skill_logo {
  margin-left: 0%;
  height: 300px;
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill_logo img {
  width: 200px;
}
.items {
  margin: 3%;
}
@media screen and (max-width: 800px) {
  .skill {
    display: block;
  }
}



.skillCard {
  padding: 5px 10px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  border:1px solid green;
  border-radius:3px;
  text-align:left;
  margin: 4px 0;
}

.dark-mode .skillCard{
  color: aquamarine;
}